<div class="container">
  <div class="ui segment">
    <h3>File size conversion</h3>
  </div>
  <div class="row">
    <div class="form-group col"></div>
    <label for="">Input Kilobyte KB</label>
    <input class="form-control" class="input" (input)="onInput($event)" />
  </div>

  <div class="col">
    <div>
      <label><b>Covert to Megabyte MB</b></label>
      <div>
        {{ kilobyte | convert : "mb" }}
      </div>
    </div>
    <div>
      <label><b>Covert to Gigabyte GB</b></label>
      <div>
        {{ kilobyte | convert : "gb" }}
      </div>
    </div>
  </div>
</div>
